{% extends "_base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="card">
  <div class="card-body">
    <h4 class="card-title">My Books</h4>
    {% if books[0] == NULL %}
    <p class="card-text">No books are added yet, <a href="{{ url_for('books.add_book') }}">add a new book</a>.</p>
    {% else %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Read on Date</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.read_date }}</td>
          <td>{{ book.notes }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>

{% endblock %}
